PROJECT_NAME=formula-1-simulator

POSTGRES_USER=eduardosavian
POSTGRES_PW=savian
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=Formula-1

PGADMIN_MAIL=eduardo@savian.xyz
PGADMIN_PW=savian
PGADMIN_PORT=6060
